<header>
  <nav class="navbar">
    <div class="container nav-container">
      <h1 class="logo">Tiago Vieira</h1>
      <ul class="menu">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../pages/sobre.html">Sobre</a></li>
        <li><a href="../pages/projetos.html">Projetos</a></li>
        <li><a href="../pages/habilidades.html">Habilidades</a></li>
        <li><a href="../pages/servicos.html">Serviços</a></li>
        <li><a href="../pages/certificacoes.html">Certificações</a></li>
        <li><a href="../pages/contatos.html">Contatos</a></li>
      </ul>
    </div>
  </nav>
</header>